
/* slider */
#slider {
    margin-top: 10px;
    float:left;
    height: 519px;
    width: 826px;
    display: none;
    position: relative;
}

.slidesjs-pagination {
    display: none;
}

.slidesjs-navigation {
    display: block;
    height: 519px;
    width: 90px;
    position: absolute;
    top: 0px;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    left: 0px;
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";

}

.slidesjs-next {
    left: 736px;
    top: 0px;
}

/* carrousel defis */
.vote-defis {
    text-align: center;
}

.vote-defis span {
    margin-right: 10px;
}

.carroussel-defis {
    padding: 15px 15px 15px 15px;
    position: relative;
        overflow: hidden;
        width: 930px;
        margin: auto;
}

.carroussel-defis div {
    width:10000%;
    position:relative;
}

.carroussel-defis img {
    border: 1px solid #ccc;
    background-color: white;
    padding: 9px;
    margin: 8px;
    display: block;
    float: left;
}
span.prev, span.next {
    background: url(../img/front/miscellaneous_sprite.png) no-repeat transparent;
    width: 45px;
    height: 50px;
    display: block;
    position: absolute;
    top: 85px;
        cursor: pointer;
}
span.prev {         left:0px;
                                background-position: 0 0; }
span.prev:hover {              background-position: 0 -50px; }
span.next {         right: -7px;
                    background-position: -50px 0; }
span.next:hover {       background-position: -50px -50px; }

span.prev span, a.next span {
    display: none;
}
.clearfix {
    float: none;
    clear: both;
}

/*Formulaiure*/

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  padding: 8px 5px;
  height: 21px;
  text-indent: 6px;
  -webkit-appearance: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear;
  -moz-transition: border .25s linear, color .25s linear;
  -o-transition: border .25s linear, color .25s linear;
  transition: border .25s linear, color .25s linear;
  -webkit-backface-visibility: hidden;
}
textarea:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="password"]:-moz-placeholder,
input[type="datetime"]:-moz-placeholder,
input[type="datetime-local"]:-moz-placeholder,
input[type="date"]:-moz-placeholder,
input[type="month"]:-moz-placeholder,
input[type="time"]:-moz-placeholder,
input[type="week"]:-moz-placeholder,
input[type="number"]:-moz-placeholder,
input[type="email"]:-moz-placeholder,
input[type="url"]:-moz-placeholder,
input[type="search"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder,
input[type="color"]:-moz-placeholder,
.uneditable-input:-moz-placeholder {
  color: #b2bcc5;
}
textarea::-webkit-input-placeholder,
input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="datetime"]::-webkit-input-placeholder,
input[type="datetime-local"]::-webkit-input-placeholder,
input[type="date"]::-webkit-input-placeholder,
input[type="month"]::-webkit-input-placeholder,
input[type="time"]::-webkit-input-placeholder,
input[type="week"]::-webkit-input-placeholder,
input[type="number"]::-webkit-input-placeholder,
input[type="email"]::-webkit-input-placeholder,
input[type="url"]::-webkit-input-placeholder,
input[type="search"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder,
input[type="color"]::-webkit-input-placeholder,
.uneditable-input::-webkit-input-placeholder {
  color: #b2bcc5;
}
textarea.placeholder,
input[type="text"].placeholder,
input[type="password"].placeholder,
input[type="datetime"].placeholder,
input[type="datetime-local"].placeholder,
input[type="date"].placeholder,
input[type="month"].placeholder,
input[type="time"].placeholder,
input[type="week"].placeholder,
input[type="number"].placeholder,
input[type="email"].placeholder,
input[type="url"].placeholder,
input[type="search"].placeholder,
input[type="tel"].placeholder,
input[type="color"].placeholder,
.uneditable-input.placeholder {
  color: #b2bcc5;
}
.control-group.focus textarea,
.control-group.focus input[type="text"],
.control-group.focus input[type="password"],
.control-group.focus input[type="datetime"],
.control-group.focus input[type="datetime-local"],
.control-group.focus input[type="date"],
.control-group.focus input[type="month"],
.control-group.focus input[type="time"],
.control-group.focus input[type="week"],
.control-group.focus input[type="number"],
.control-group.focus input[type="email"],
.control-group.focus input[type="url"],
.control-group.focus input[type="search"],
.control-group.focus input[type="tel"],
.control-group.focus input[type="color"],
.control-group.focus .uneditable-input,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #1abc9c;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.row-fluid textarea,
.row-fluid input[type="text"],
.row-fluid input[type="password"],
.row-fluid input[type="datetime"],
.row-fluid input[type="datetime-local"],
.row-fluid input[type="date"],
.row-fluid input[type="month"],
.row-fluid input[type="time"],
.row-fluid input[type="week"],
.row-fluid input[type="number"],
.row-fluid input[type="email"],
.row-fluid input[type="url"],
.row-fluid input[type="search"],
.row-fluid input[type="tel"],
.row-fluid input[type="color"],
.row-fluid .uneditable-input {
  height: 41px;
  width: 100%;
}
textarea.flat,
input[type="text"].flat,
input[type="password"].flat,
input[type="datetime"].flat,
input[type="datetime-local"].flat,
input[type="date"].flat,
input[type="month"].flat,
input[type="time"].flat,
input[type="week"].flat,
input[type="number"].flat,
input[type="email"].flat,
input[type="url"].flat,
input[type="search"].flat,
input[type="tel"].flat,
input[type="color"].flat,
.uneditable-input.flat {
  border-color: transparent;
}
textarea.flat:hover,
input[type="text"].flat:hover,
input[type="password"].flat:hover,
input[type="datetime"].flat:hover,
input[type="datetime-local"].flat:hover,
input[type="date"].flat:hover,
input[type="month"].flat:hover,
input[type="time"].flat:hover,
input[type="week"].flat:hover,
input[type="number"].flat:hover,
input[type="email"].flat:hover,
input[type="url"].flat:hover,
input[type="search"].flat:hover,
input[type="tel"].flat:hover,
input[type="color"].flat:hover,
.uneditable-input.flat:hover {
  border-color: #bdc3c7;
}
textarea.flat:focus,
input[type="text"].flat:focus,
input[type="password"].flat:focus,
input[type="datetime"].flat:focus,
input[type="datetime-local"].flat:focus,
input[type="date"].flat:focus,
input[type="month"].flat:focus,
input[type="time"].flat:focus,
input[type="week"].flat:focus,
input[type="number"].flat:focus,
input[type="email"].flat:focus,
input[type="url"].flat:focus,
input[type="search"].flat:focus,
input[type="tel"].flat:focus,
input[type="color"].flat:focus,
.uneditable-input.flat:focus {
  border-color: #1abc9c;
}
.control-group.error textarea,
.control-group.error input[type="text"],
.control-group.error input[type="password"],
.control-group.error input[type="datetime"],
.control-group.error input[type="datetime-local"],
.control-group.error input[type="date"],
.control-group.error input[type="month"],
.control-group.error input[type="time"],
.control-group.error input[type="week"],
.control-group.error input[type="number"],
.control-group.error input[type="email"],
.control-group.error input[type="url"],
.control-group.error input[type="search"],
.control-group.error input[type="tel"],
.control-group.error input[type="color"],
.control-group.error .uneditable-input {
  border-color: #e74c3c;
  color: #e74c3c;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.control-group.error textarea:focus,
.control-group.error input[type="text"]:focus,
.control-group.error input[type="password"]:focus,
.control-group.error input[type="datetime"]:focus,
.control-group.error input[type="datetime-local"]:focus,
.control-group.error input[type="date"]:focus,
.control-group.error input[type="month"]:focus,
.control-group.error input[type="time"]:focus,
.control-group.error input[type="week"]:focus,
.control-group.error input[type="number"]:focus,
.control-group.error input[type="email"]:focus,
.control-group.error input[type="url"]:focus,
.control-group.error input[type="search"]:focus,
.control-group.error input[type="tel"]:focus,
.control-group.error input[type="color"]:focus,
.control-group.error .uneditable-input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.control-group.success textarea,
.control-group.success input[type="text"],
.control-group.success input[type="password"],
.control-group.success input[type="datetime"],
.control-group.success input[type="datetime-local"],
.control-group.success input[type="date"],
.control-group.success input[type="month"],
.control-group.success input[type="time"],
.control-group.success input[type="week"],
.control-group.success input[type="number"],
.control-group.success input[type="email"],
.control-group.success input[type="url"],
.control-group.success input[type="search"],
.control-group.success input[type="tel"],
.control-group.success input[type="color"],
.control-group.success .uneditable-input {
  border-color: #2ecc71;
  color: #2ecc71;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.control-group.success textarea:focus,
.control-group.success input[type="text"]:focus,
.control-group.success input[type="password"]:focus,
.control-group.success input[type="datetime"]:focus,
.control-group.success input[type="datetime-local"]:focus,
.control-group.success input[type="date"]:focus,
.control-group.success input[type="month"]:focus,
.control-group.success input[type="time"]:focus,
.control-group.success input[type="week"]:focus,
.control-group.success input[type="number"]:focus,
.control-group.success input[type="email"]:focus,
.control-group.success input[type="url"]:focus,
.control-group.success input[type="search"]:focus,
.control-group.success input[type="tel"]:focus,
.control-group.success input[type="color"]:focus,
.control-group.success .uneditable-input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.control-group.warning textarea,
.control-group.warning input[type="text"],
.control-group.warning input[type="password"],
.control-group.warning input[type="datetime"],
.control-group.warning input[type="datetime-local"],
.control-group.warning input[type="date"],
.control-group.warning input[type="month"],
.control-group.warning input[type="time"],
.control-group.warning input[type="week"],
.control-group.warning input[type="number"],
.control-group.warning input[type="email"],
.control-group.warning input[type="url"],
.control-group.warning input[type="search"],
.control-group.warning input[type="tel"],
.control-group.warning input[type="color"],
.control-group.warning .uneditable-input {
  border-color: #f1c40f;
  color: #f1c40f;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.control-group.warning textarea:focus,
.control-group.warning input[type="text"]:focus,
.control-group.warning input[type="password"]:focus,
.control-group.warning input[type="datetime"]:focus,
.control-group.warning input[type="datetime-local"]:focus,
.control-group.warning input[type="date"]:focus,
.control-group.warning input[type="month"]:focus,
.control-group.warning input[type="time"]:focus,
.control-group.warning input[type="week"]:focus,
.control-group.warning input[type="number"]:focus,
.control-group.warning input[type="email"]:focus,
.control-group.warning input[type="url"]:focus,
.control-group.warning input[type="search"]:focus,
.control-group.warning input[type="tel"]:focus,
.control-group.warning input[type="color"]:focus,
.control-group.warning .uneditable-input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.control-group.info textarea,
.control-group.info input[type="text"],
.control-group.info input[type="password"],
.control-group.info input[type="datetime"],
.control-group.info input[type="datetime-local"],
.control-group.info input[type="date"],
.control-group.info input[type="month"],
.control-group.info input[type="time"],
.control-group.info input[type="week"],
.control-group.info input[type="number"],
.control-group.info input[type="email"],
.control-group.info input[type="url"],
.control-group.info input[type="search"],
.control-group.info input[type="tel"],
.control-group.info input[type="color"],
.control-group.info .uneditable-input {
  border-color: #3498db;
  color: #3498db;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.control-group.info textarea:focus,
.control-group.info input[type="text"]:focus,
.control-group.info input[type="password"]:focus,
.control-group.info input[type="datetime"]:focus,
.control-group.info input[type="datetime-local"]:focus,
.control-group.info input[type="date"]:focus,
.control-group.info input[type="month"]:focus,
.control-group.info input[type="time"]:focus,
.control-group.info input[type="week"]:focus,
.control-group.info input[type="number"]:focus,
.control-group.info input[type="email"]:focus,
.control-group.info input[type="url"]:focus,
.control-group.info input[type="search"]:focus,
.control-group.info input[type="tel"]:focus,
.control-group.info input[type="color"]:focus,
.control-group.info .uneditable-input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.control-group textarea,
.control-group input[type="text"],
.control-group input[type="password"],
.control-group input[type="datetime"],
.control-group input[type="datetime-local"],
.control-group input[type="date"],
.control-group input[type="month"],
.control-group input[type="time"],
.control-group input[type="week"],
.control-group input[type="number"],
.control-group input[type="email"],
.control-group input[type="url"],
.control-group input[type="search"],
.control-group input[type="tel"],
.control-group input[type="color"],
.control-group .uneditable-input {
  margin-bottom: 0;
}
.control-group {
  position: relative;
}
.control-group > .input-icon {
  position: absolute;
  top: 2px;
  right: 2px;
  line-height: 37px;
  vertical-align: middle;
  font-size: 19.991999999999997px;
  /* 20px */

  color: #b2bcc5;
  background-color: #ffffff;
  padding: 0 10px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.control-group input:focus + .input-icon {
  color: #34495e;
}
.control-group.huge > .input-icon {
  line-height: 49px;
}
.control-group.large > .input-icon {
  line-height: 41px;
}
.control-group.small > .input-icon {
  font-size: 15.988px;
  /* 16px */

  line-height: 30px;
}
.control-group.success > .input-icon,
.control-group.success input + .input-icon {
  color: #2ecc71;
}
.control-group.warning > .input-icon,
.control-group.warning input + .input-icon {
  color: #f1c40f;
}
.control-group.error > .input-icon,
.control-group.error input + .input-icon {
  color: #e74c3c;
}
.control-group.disabled > .input-icon,
.control-group.disabled input + .input-icon {
  color: #d5dbdb;
  background-color: #f4f6f6;
}
input[disabled],
input[readonly],
textarea[disabled],
textarea[readonly] {
  background-color: #f4f6f6;
  border-color: #d5dbdb;
  color: #d5dbdb;
  cursor: default;
}
input,
textarea,
.uneditable-input {
  width: 192px;
}
textarea {
  height: auto;
  font-size: 14.994px;
  /* 15px */

  line-height: 24px;
  padding: 5px 11px;
  text-indent: 0;
}
.row-fluid textarea {
  height: auto;
  width: 100% !important;
}
textarea[class*="span"] {
  width: 100% !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.checkbox,
.radio {
  margin-bottom: 12px;
  padding-left: 32px;
  position: relative;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
  -webkit-backface-visibility: hidden;
}
.checkbox input,
.radio input {
  outline: none !important;
  display: none;
}
.checkbox .icons,
.radio .icons {
  color: #bdc3c7;
  display: block;
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  -webkit-transition: color 0.25s linear;
  -moz-transition: color 0.25s linear;
  -o-transition: color 0.25s linear;
  transition: color 0.25s linear;
  -webkit-backface-visibility: hidden;
}
.checkbox .icons .first-icon-icon,
.radio .icons .first-icon-icon,
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  filter: alpha(opacity=100);
}
.checkbox .icons .second-icon,
.radio .icons .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox:hover .first-icon,
.radio:hover .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox:hover .second-icon,
.radio:hover .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}
.checkbox.checked,
.radio.checked {
  color: #16a085;
}
.checkbox.checked .icons,
.radio.checked .icons {
  color: #1abc9c;
}
.checkbox.checked .first-icon,
.radio.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox.checked .second-icon,
.radio.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}
.checkbox.disabled,
.radio.disabled {
  cursor: default;
  color: #e6e8ea;
}
.checkbox.disabled .icons,
.radio.disabled .icons {
  color: #e6e8ea;
}
.checkbox.disabled .first-icon,
.radio.disabled .first-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}
.checkbox.disabled .second-icon,
.radio.disabled .second-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox.disabled.checked .icons,
.radio.disabled.checked .icons {
  color: #e6e8ea;
}
.checkbox.disabled.checked .first-icon,
.radio.disabled.checked .first-icon {
  opacity: 0;
  filter: alpha(opacity=0);
}
.checkbox.disabled.checked .second-icon,
.radio.disabled.checked .second-icon {
  opacity: 1;
  filter: alpha(opacity=100);
}