/* 
    Document   : front.css
    Created on : 16 mai 2013, 15:49:26
    Author     : PierrickW
    Description:
        Purpose of the stylesheet follows.
*/

/* reset */
body {
    margin: 0px;
    padding: 0px;
}

a {
    color:black;
    text-decoration: none;
}


a:hover {
    text-decoration: underline;
}

body  { 
    width:1024px;
    border:1px solid black;
    margin: auto;
    margin-bottom: 50px;
    border-top: 0px;
    font-family: "Myriad Pro";
    font-size: 14px;
    -webkit-box-shadow:  0px 0px 10px 5px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 0px 10px 5px rgba(0, 0, 0, 0.5);
}

header {
    height: 220px;
}

#logo {
    position:relative;
    left:-100px;
}

#admin {
    float:right;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 12px;
}

nav {
    width: 860px;
    height: 25px;
    position: relative;
    top: -40px;
    left: 33px;
    float: right;
}

nav ul {
    border-collapse: collapse;
    padding: 0px;
    margin: 0px;
    height: 100%;
}

nav li {
    border-left: 3px solid black;
    border-right: 3px solid black;
    display: inline-block;
    width: 19%;
    height: 100%;
    text-align: center;
    margin-left: -5px;
    font-size: 20px;
    line-height: 25px;
    cursor: pointer;
}



nav a:nth-child(1) li {
    border-left: 0px;
    background-color: #82c2f9;
}

nav a:nth-child(2) li {
    background-color: #90be3a;
}

nav a:nth-child(3) li {
    background-color: #da005e;
}

nav a:nth-child(4) li {
    background-color: #a11f20;
}

nav a:nth-child(5) li {
    border-right: 0px;
    background-color: #de9535;
}

nav a li:hover {
    background-color: white;
}


section {
    clear:both;
    padding: 10px;
}


footer
{
    height: 80px;
    border-top: 3px solid black;
}

article {
    clear: both;
    margin-top: 50px;
}

/* Accueil */
section.accueil h2 {
    color:#3a4bb3;
}


#path img {
    position: relative;
    top: 5px;
}


.content-accueil {
    height: 380px;
    width: 100%;
    margin-top: -10px;
}

.content-accueil img {
    float:left;
}

.content-accueil h2 {
    text-align: right;
}
.content-accueil p
{
    width: 500px;
    float: right;
}

.accueil h3, .accueil p {
    margin: 0px;
}

.ville {
    float: right;
    position: relative;
    top: -15px;
}

.content {
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(140, 140, 140);
    padding: 5px;
    margin-top: 20px;
}

a .content:hover {
    text-decoration: none;
}

.colorbox:hover {
    text-decoration: none;
}

#colorbox {
    border: 1px solid black;
    background-color: white;
}
/* news */
.news .title, .defis .title {
    color: rgb(150, 150, 150);
}

.news article, .defis article {
    border-bottom: 1px dashed black;
}

.news article, .defis article {
    padding-bottom: 10px;
    margin-bottom: 10px;
}


/* option */
.paginator {
    text-align: center;
}

/* slider */
#slider {
    margin-top: 10px;
    float:left;
    height: 290px;
    width: 100%;
    display: none;
}

.slidesjs-pagination {
    display: none;
}

.slidesjs-navigation {
    display: block;
    height: 290px;
    width: 90px;
    position: relative;
    top: -290px;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    left: 1px;
    opacity: 0.3;
}

.slidesjs-next {
    left: 914px;
    top: -580px;
}

/* carrousel defis */
.vote-defis {
    text-align: center;
}

.vote-defis span {
    margin-right: 10px;
}

.carroussel-defis {
	padding: 15px 0 15px 40px;
	position: relative;
}
.carroussel-defis img {
	border: 1px solid #ccc;
	background-color: white;
	padding: 9px;
	margin: 7px;
	display: block;
	float: left;
}
a.prev, a.next {
	background: url(../img/front/miscellaneous_sprite.png) no-repeat transparent;
	width: 45px;
	height: 50px;
	display: block;
	position: absolute;
	top: 85px;
}
a.prev {			left: -22px;
                                background-position: 0 0; }
a.prev:hover {              background-position: 0 -50px; }
a.next {			right: -22px;
					background-position: -50px 0; }
a.next:hover {		background-position: -50px -50px; }

a.prev span, a.next span {
	display: none;
}
.clearfix {
	float: none;
	clear: both;
}

/*partenaires*/

.liste-partenaires {
    text-align: center;
    cursor: pointer;
}


.partenaires {
    width: 300px;
    height: 300px;
    display: inline-block;
}

.partenaires img {
    padding: 20px;
}

/*login*/

.login-admin {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}