
/* slider */
#slider {
    margin-top: 10px;
    float:left;
    height: 519px;
    width: 826px;
    display: none;
    position: relative;
}

.slidesjs-pagination {
    display: none;
}

.slidesjs-navigation {
    display: block;
    height: 519px;
    width: 90px;
    position: absolute;
    top: 0px;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    left: 0px;
    opacity: 0.3;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";

}

.slidesjs-next {
    left: 736px;
    top: 0px;
}

/* carrousel defis */
.vote-defis {
    text-align: center;
}

.vote-defis span {
    margin-right: 10px;
}

.carroussel-defis {
    padding: 15px 15px 15px 15px;
    position: relative;
        overflow: hidden;
        width: 930px;
        margin: auto;
}

.carroussel-defis div {
    width:10000%;
    position:relative;
}

.carroussel-defis img {
    border: 1px solid #ccc;
    background-color: white;
    padding: 9px;
    margin: 8px;
    display: block;
    float: left;
}
span.prev, span.next {
    background: url(../img/front/miscellaneous_sprite.png) no-repeat transparent;
    width: 45px;
    height: 50px;
    display: block;
    position: absolute;
    top: 85px;
        cursor: pointer;
}
span.prev {         left:0px;
                                background-position: 0 0; }
span.prev:hover {              background-position: 0 -50px; }
span.next {         right: -7px;
                    background-position: -50px 0; }
span.next:hover {       background-position: -50px -50px; }

span.prev span, a.next span {
    display: none;
}
.clearfix {
    float: none;
    clear: both;
}

form tr td{
    padding-bottom: 0.5em;
}
form tr td:first-child{
    min-width: 8em;
}
form legend {
    margin-bottom: 2em;
}
textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border: 2px solid #95A5A6;
    -webkit-appearance: none;
    line-height: 2em;

}

.partenaires img {
    cursor: pointer;
}